<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo-admin.css') }}">
    <title>Admin - Reservas</title>
</head>
<body>

    <div class="container">
        <h2>Reservas</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome do Cliente</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Serviço</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.name }}</td>
                        <td>{{ reservation.date }}</td>
                        <td>{{ reservation.time }}</td>
                        <td>{{ reservation.service }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
