<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Agendamento de Barbearia</title>
</head>
<body>

    <h1>Agendamento de Horários</h1>
    <input type="date" id="date-picker" class="date-picker">

    <div class="container">
        <h2>Horários Disponíveis</h2>
        <div id="available-times" class="times-container"></div>

        <h2>Horários Reservados</h2>
        <div id="reserved-times" class="times-container"></div>
    </div>

    <div id="overlay"></div>
    <div id="popup">
        <h2>Confirmar Reserva</h2>
        <p id="selected-time"></p>
        <form id="booking-form">
            <input type="text" id="name" name="name" placeholder="Seu nome" required>
            <input type="hidden" id="datetime" name="datetime">
            <button type="submit">Confirmar</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
